/* General Styles */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* Header */
.header {
    background-image: url("https://cdn.dicklovett.co.uk/uploads/asset_image/2_5986_f.png?v=1707148403");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 13px;
}

/* Navigation */
.navbar {
    background-color: #78B3CE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navbar a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #C9E6F0;
    color: #78B3CE;
}

/* Footer */
.footer {
    background-color: #78B3CE;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0;
}

.footer p {
    color: rgb(221, 221, 221);
    padding: 15px 20px;
    text-decoration: none;
    font-size: 15px;
    margin: 15px; 
    border-radius: 5px;
}

/* Gallery */
.gallery-container {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.gallery-container img {
    width: 220px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}

.gallery-container marquee {
    width: 80%;
    margin: auto;
    padding: 10px;
}

/* Main Content */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Sidebar */
.sidebar {
    padding: 10px;
    margin: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: #007bff;
}

.sidebar a:hover {
    text-decoration: underline;
}

fieldset {
    border: none;
    padding: 10px;
}
legend {
    font-weight: bold;
}

/* Table Styles */
.study {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #78B3CE;
    color: white;
    text-align: center;
}

/* Profile Section */
.profile * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.profile {
    background-color: white;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
    font-size: 12px;
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile section {
    margin: 20px 0;
    text-align: left;
}

.profile h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.profile p {
    margin-bottom: 8px;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}